.container {
    padding: 0 30px;
    width: 100%;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    background-color: rgb(246, 255, 255);
    width: 95%;
}
.logo {
    color: rgb(255, 0, 140);
    
}
.link-container {
    display: flex;
    list-style-type: none;
    
}
.link-container > li {
    margin-left: 3em;
}
.hamburgar {
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 20px;
    display: none;
}
.pink {
    display: flex;
    width: 100vw;
    background-color: rgba(255, 191, 201, 0.893);
    border-radius: 20px;
    justify-content: space-between;
    position: relative;
    top: 100px;
    
}
.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 80px;
}
.introduction {
    width: 300px;
   
}
.search {
    height: 30px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 10px;
    font-weight: 500;
}
.orange-watch {
    height: 250px;
    width: 250px;
    margin: 0 0 0 -300px;
    padding: 20px 0;
    border-radius: 15%;
}
.beaded-bag {
    height: 150px;
    width: 100px;
    border-bottom-right-radius: 20px;
}
.image2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: -300px;
    gap: 20px;
   
}
.icons {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    gap: 15px;
}
 

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.options ul li {
    list-style-type: none;
}
.choice {
    display: flex;
    gap: 4rem;
    
}
.choice li {
    font-weight: 400;
}
.arrows {
    display: flex;
    gap: 2rem;
    
}
.new {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 20px;
    
}
.newtwo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 20px;
    
}
.new-image {
    height: 350px;
    width: 300px;
    border-radius: 10px;
    
}
.new-image1 {
    height: 350px;
    width: 300px;
    border-radius: 10px;
}
.new-image2 {
    height: 350px;
    width: 300px;
    border-radius: 10px;
}
.price {
    font-weight: 800;
    margin-top: -10px;
}
.see-all {
    display: flex;
    background-color: rgb(233, 233, 244);
    align-items: center;
    justify-content: space-around;
    margin:50px 70px;
    height: 230px;
    border-radius: 5px;
    position: absolute;
    
} 
.all {
    background-color: rgb(255, 80, 139);
    width: 100px;
    height: 30px;
    padding: 5px ;

}
.button {
    margin: 5px 10px 20px 25px;
    color: rgb(255, 255, 255);
    
}

.sample {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: -100px;
    

}
.Latest {
    height: 250px;
    width: 180px;
    margin-left: 100px;
    margin-bottom: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.intro {
    font-size: 23px;
    font-weight: 600;
}
.collection {
    margin-top: -15px;
}
.foot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-top: 70px;
    color: aliceblue;
    background-color: rgb(6, 6, 17);
    padding: 50px;
}
.links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.links ul {
    list-style-type: none;
    font-weight: 300;
   

}
.links ul li {
    padding: 10px;
}
.span {
    padding: 0 0 10px;
    font-weight: 500;
    
}
.calls svg  {
   padding: 0 10px;
}
.calls {
    margin-left: -45px;
}
.positioning {
    height: 100px;
    width: 100px;
    background-color: rgba(255, 191, 201, 0.893);
    position: relative;
}
.relative {
    height: 20px;
    width: 100%;
    background-color: rgb(3, 3, 255);
    position: absolute;
    right: 50px;
    top: 50px;
    left: 50px;
    bottom: 0;

}
.static {
    height: 20px;
    width: 20px;
    background-color: red;
    
}
@media (max-width:760px) {

   .link-container {
     display: none;
   }
   .hamburgar {
    display: block;
    width: 35px;
    height: 35px;
}
.pink {
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: static;
    justify-content: center;
}
.orange-watch {
    margin: 0;
    height: 350px;
    width: 350px;
}
.icons {
    flex-direction: row;
}
.image2 {
    display: none;
}
.head {
    position: static;
    background-color: white;
    height: 10vh;
    
}
.new, .newtwo, .options, .choice {
    flex-direction: column;
}
.choice {
    display: none;
}
.home  {
    padding:0 50px;
}
.search {
    width: 60%;
}

.see-all {
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 40vh;
    margin-left: 0;
}
.Latest {
    display: none;

}
.foot {
    flex-direction: column;
}
.links ul li {
    padding: 5px;
    font-size: 10px;
}
.see-all {
    margin: 50px 0;
}

}
